<% include ./partials/header %>

<div class="main-banner"></div>
<!-- The banner image -->

<div class="ui text container">
  <h1> HOMEPAGE (index)</h1>

<!--TODO:
    You'll need to make is so that with just one API call,
    you can make the 3 (or however many) most recent posts
    show up in one array at the top, whereas the later ones
    show up below with less info (and pagination, and all that
    stuff). Because that's how you decided to make it this.

    For that, I think you should use moment.js instead of what it is now.
-->
  <div class="ui segment">

      <% data.forEach((article) => { %>
          <a href="/things/<%= article._id %>"> 
            <h3><%= article.title %></h3>
          </a>

          <span><%= article.timestamp.toDateString() %></span>
          <img src="<%= article.image %>" style="height:10em">
          <iframe 
            width="560" 
            height="315" 
            src="http://www.youtube.com/embed/<%= article.video %>"    
            frameborder="1" 
            allowfullscreen
          > </iframe>
          <p><%= article.info %></p>
        <br>
      <% }); %>
  </div>

</div>

<% include ./partials/footer %>
